<template name="cafesList">
  
    {{> header}}
    <div class="cafesListContent">
        {{#if currentUser}}
        <h2>Alle Cafes</h2>
    {{else}}
        <h2>U moet eerst inloggen om cafes toe te voegen</h2>
    {{/if}}
    <ul>
        {{#each Cafes}}
        <li>
          <a href='/singleCafe/{{_id}}' class="cafeItem">
            <span>Name: {{Name}}</span><br />
            <span>Address: {{Adres}}</span><br />
            <span>Location: </span><span id="lat">{{Lattitude}}</span> - <span id="lng">{{Longtitude}}</span>
        </a>
            {{#if currentUser}}
                <button class="removeCafe">X</button>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    <a href="/addCafe"><button id="btn">Voeg nieuw cafe toe</button></a>
    </div>

</template>

