<template name="cafesList">
  
    {{> header}}

    {{#if currentUser}}
        <h2>Voeg nu cafes toe!</h2>
    {{else}}
        <h2>U moet eerst inloggen om cafes toe te voegen</h2>
    {{/if}}
    <ul>
        {{#each Cafes}}
        <li>
          <a href='/singleCafe/{{_id}}' class="cafeItem">
            <span>Name: {{name}}</span><br />
            <span>Address: {{address}}</span><br />
            <span>Location: </span><span id="lat">{{lat}}</span> - <span id="lng">{{lng}}</span>
        </a>
            {{#if currentUser}}
                <button class="remove-cafe">X</button>
            {{/if}}
        </li>
        {{/each}}
    </ul>

</template>

